.git
.gitignore
README.md
.env
.env.example
.env.testing
Dockerfile
.dockerignore
docker-compose.yml
node_modules
npm-debug.log
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
tests/
.phpunit.result.cache
vendor/
.nyc_output
coverage/